* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 1.6rem; }

p {
  margin: 1rem 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0 2rem 0; }

ul {
  list-style: none; }

a {
  color: var(--text);
  text-decoration: none; }

img {
  max-width: 100%; }

:root {
  --font-family:'Roboto', sans-serif;
  --light:#1ab7ea;
  --primary:#00AFF0;
  --dark:#007ee5;
  --text:#34465d;
  --background:#ecf0f1;
  --hint:#95a5a6;
  --border:#7f8c8d; }

.title-small {
  letter-spacing: 0.5rem;
  font-size: 1.7rem; }

.text-primary {
  color: var(--primary); }

.text-hint {
  color: var(--hint); }

.grid-container {
  display: grid;
  min-height: 100vh;
  grid: "picture header" auto "aside main" / 350px auto; }

header {
  grid-area: header;
  background: var(--primary);
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  header h1 {
    font-size: 6rem;
    line-height: 8rem;
    font-weight: 300;
    letter-spacing: 3rem; }
  header p {
    letter-spacing: 0.5rem; }

.picture {
  grid-area: picture;
  padding: 3rem;
  background: var(--background);
  border-right: 1px solid var(--border); }
  .picture img {
    border-radius: 50%; }

aside {
  grid-area: aside;
  background: var(--background);
  border-right: 1px solid var(--border);
  padding: 4rem; }
  aside .block {
    margin-bottom: 5rem; }
    aside .block h2 {
      border-bottom: 1px solid var(--primary);
      color: var(--primary); }
    aside .block h3 {
      margin-bottom: 0;
      font-size: 1.4rem; }
    aside .block p {
      margin: 0 0 1rem 0;
      font-style: italic; }

main {
  grid-area: main;
  padding: 2rem; }
  main h2 {
    border-bottom: 1px solid var(--primary);
    color: var(--primary);
    padding-top: 4rem; }
  main p {
    letter-spacing: 0.1rem;
    line-height: 3rem; }
  main li {
    margin-left: 4rem; }

.forma {
  display: flex; }
  .forma .timeline {
    text-align: center;
    color: var(--hint);
    padding-right: 2rem;
    border-right: 1px solid var(--border); }
  .forma p {
    margin: 0; }
  .forma .date {
    min-width: 200px; }

.content {
  padding: 0 1rem; }
  .content h3 {
    margin: 0; }
  .content p {
    margin: 0; }
  .content ul {
    margin: 2rem 0;
    list-style: circle;
    padding-left: 4rem; }

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5rem;
  background: var(--text); }
  footer h2 {
    margin-bottom: 3rem; }
  footer form {
    display: flex;
    align-items: center; }
    footer form .prefix, footer form .postfix {
      background: var(--dark);
      padding: 1rem 2rem;
      color: white;
      font-size: 2rem; }
    footer form .prefix {
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem; }
    footer form button {
      background: var(--text);
      border: 0;
      cursor: pointer;
      transition: all 0.2s; }
      footer form button:hover {
        opacity: 0.8; }
      footer form button .postfix {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem; }
    footer form input {
      outline: 0;
      border: 0;
      min-width: 400px;
      padding: 1rem 2rem;
      line-height: 2rem; }
      footer form input::placeholder {
        color: var(--text); }

.mb-5 {
  margin-bottom: 5rem !important; }
