:root{
    --font-family:'Roboto', sans-serif;
    --light:#1ab7ea;
    --primary:#00AFF0;
    --dark:#007ee5;
    --text:#34465d;
    --background:#ecf0f1;
    --hint:#95a5a6;
    --border:#7f8c8d;
}