@import "reset";
@import "base";
@import "variables";
@import "classes";

.grid-container {
    display: grid;
    min-height: 100vh;
    grid:
    "picture header" auto
    "aside main"
    / 350px auto;
}

header {
    grid-area: header;
    background: var(--primary);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 6rem;
        line-height: 8rem;
        font-weight: 300;
        letter-spacing: 3rem;
    }
    p {
        letter-spacing: 0.5rem;
    }
}

.picture {
    grid-area: picture;
    padding: 3rem;
    background: var(--background);
    border-right: 1px solid var(--border);
    img {
        border-radius: 50%;
    }
}

aside {
    grid-area: aside;
    background: var(--background);
    border-right: 1px solid var(--border);
    padding: 4rem;
    .block {
        margin-bottom: 5rem;
        h2 {
            border-bottom: 1px solid var(--primary);
            color: var(--primary);
        }
        h3 {
            margin-bottom: 0;
            font-size: 1.4rem;
        }
        p {
            margin: 0 0 1rem 0;
            font-style: italic;
        }
    }
}

main {
    grid-area: main;
    padding: 2rem;

    h2 {
        border-bottom: 1px solid var(--primary);
        color: var(--primary);
        padding-top: 4rem;
    }
    
    p {
        letter-spacing: 0.1rem;
        line-height: 3rem;
    }

    li {
        margin-left: 4rem;
    }
}


.forma {
    display: flex;
    .timeline {
        text-align: center;
        color: var(--hint);
        padding-right: 2rem;
        border-right: 1px solid var(--border);
    }
    p {
        margin: 0;

    }
    .date {
        min-width: 200px;
    }
}

.content {
    padding: 0 1rem;
    h3 {
        margin: 0;
    }
    p {
        margin: 0;
    }
    ul {
        margin: 2rem 0;
        list-style: circle;
        padding-left: 4rem;
    }
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5rem;
    background: var(--text);
    h2 {
        margin-bottom: 3rem;
    }
    form {
        display: flex;
        align-items: center;
        .prefix, .postfix {
            background: var(--dark);
            padding: 1rem 2rem;
            color: white;
            font-size: 2rem;
        }
        .prefix {
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
        }
        button {
            background: var(--text);
            border: 0;
            cursor: pointer;
            transition: all 0.2s;
            &:hover {
                opacity: 0.8;
            }
            .postfix {
                border-top-right-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
            }
        }
        input {
            outline: 0;
            border: 0;
            min-width: 400px;
            padding: 1rem 2rem;
            line-height: 2rem;
            &::placeholder {
                color: var(--text);
            }
        }
    }
}

.mb-5 {
    margin-bottom: 5rem !important;
  }
  
